p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 65px;
}


.conteiner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.square{
    background-color: rgba(45, 127, 182, 0.575);
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    width: 600px;
    margin: 10px;
    line-height: 65px;
    font-size: 15px;
    height: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.greeting{
    font-size: 35px;
    text-align: center;
}

h1{
    font-size: 45px;
    text-align: center;
}

